<div class="container">

  <h2 style="text-align: center">Hey Users!</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nick Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <td><input type="text" [(ngModel)]="user.id" [disabled]="!user.isEditable" /></td>
        <td><input type="text" [(ngModel)]="user.firstName" [disabled]="!user.isEditable" /></td>
        <td><input type="text" [(ngModel)]="user.lastName" [disabled]="!user.isEditable" /></td>
        <td><input type="text" [(ngModel)]="user.nickName" [disabled]="!user.isEditable" /></td>
        <td><input type="text" [(ngModel)]="user.email" [disabled]="!user.isEditable" /></td>
        <td><button class="btn-row btn-primary" (click)="user.isEditable=!user.isEditable"
            *ngIf="!user.isEditable">Edit</button>
          <button class="btn btn-primary" *ngIf="user.isEditable" (click)="onClick2(user)"
            (click)="user.isEditable=!user.isEditable">Save</button></td>
            <br>
       <td> <button class="btn-row btn-danger" (click)="onClick1(user.id)">Delete</button> </td>
      </tr>
    </tbody>
  </table>

</div>